* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navibar {
    background-color:gray;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navibar_container {
    display:flex;
    justify-content: space-between;
    height: 50px;   
    width: 100%;
    max-width: auto;
}
#navibar_logo {
    background-color:white;
    background-size: 100%;
    background-image: linear-gradient(to top, #ff0844 10%, #ffb199 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
    padding-top: 10px;
    font-size: 25px;
    margin-left: 20px;
}

.search_container {
    height: 35px; 
    position: relative;
    left: 2%;
    display: flex;
    top: 15%;
}  
.searchbar{
    height: 100%;
    width: 200px;
    font-size: 15px;
    padding: 5px;
    display: fixed;
}

.search_container button{
    display: inline-block;
    position: absolute;
    float: right;
    height: 35px;
    width: 50px;
    padding: 5px;
    background-color: orange;
    font-size: 20px;
}

.navibar_container ul{
    display:flex;
    list-style: none;
    height: 50px;
}
.navibar_container ul li{
    align-items: center;
    margin-right: 0;
    width: 100%;
    margin-right: 20px;
}

.navibar_links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    text-decoration: none;
    height: 100%;
}
#btn{
    display: inline-block;
    
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 110px;
    border: none;
    outline: none;
    border-radius: 2px;
    background:#ff0844;
    color: azure;
    transition: all 0.3 ease;
}

.navibar_links:hover{
    color:blueviolet;
    transition:all 0.3 ease;
}
.menu-icon{
    width: 50px;
    height: 50px;
    line-height: 80px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    display: none;
}
/* ----------media query for menudropdown------------*/
@media only screen and (max-width: 900px) {
    .menu-icon {
        display: block; 
        cursor: pointer;
    }
    .menu-icon:hover{
        background-color: azure;
    }
    .navibar_container ul{
        position: absolute;
        top: 70px;
        width: 100%;
        height: fit-content;
        display: block;
        overflow: hidden;
    }   

    .navibar_container ul li{
        background-color:transparent;
        width: 100%;
        height: 50px;
        float: right;
    
        margin-right: 0;
    }
    .navibar_container ul li a{
        float: right;
        color:indigo;
    }
}
/* /*h independent* */
.header {
    font-size: 25px;
    height: 100px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* the body css*/
.list{ 
    height:500px
}








/* the footer style css*/
.footer{
    background: gray;
    color: white;
}
.container{
    font-size: 14px;
    padding: 20px 20px 0px 60px;
    height: fit-content;
    width: 100%;
}

.footer h2 {
    margin-bottom: 10px;
}
.footer-col-1{
    width: 28%;
    display: inline-block;
    margin-bottom: 10px;
}
.footer-col-2{
    width: 28%;
    display: inline-block;
}
.footer-col-3{
    width: 28%;
    display: inline-block;
}
.footer-col-1 ol{
    padding-bottom: 5px;
}
.footer-col-2 ol{
    padding-top: 5px;
}

.app-logo{
    align-items: center;
    margin-top: 10px;
    height: 30px;

}
.fa {
    padding-top: 9px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
}

.fa-facebook{
    background: #3b5998;
    color: white;
}
.fa-twitter {
    background: #55acee;
    color: white;
}
.fa-instagram {
    background: white;
    color: #e84393;
}
.app-logo a{
    height: 30px;
    width: 30px;

}   
.last{
    text-align: center;
    justify-content: center;
    margin: 0px 30px 0px 30px;
    height: 30px;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height: 1px;
    margin: 1px 0;
}
